@model doStuff.ViewModels.EventFeedViewModel

@*Html.DropDownListFor( model => model.Groups.Group, ViewData["GroupNames"] as model.Groups.Name)
Html.DropDownListFor(n => n.MyColorId, new SelectList(Colors, "ColorId", "Name"))*@

<div>
    <h4>EventFeedViewModel</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.Events)
    {
        <tr>
            <td>
                @foreach (var c in item.Comments) 
                {
                    <tr>
                        <td>
                            @c.Content
                        </td>
                    </tr>
                }
            </td>
        </tr>
    }

</table>