@model doStuff.ViewModels.EventFeedViewModel

<div class="container">
    <!-- <div class="col-md-4 login-logo">

    </div>-->
    <div class="col-md-4">
        <select class="form-control main-menu">
            @foreach (var i in Model.Groups)
            {
                <option value="@i">@i.Name</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        @Html.Partial("_LoginPartial")
    </div>
</div>
