@model doStuff.ViewModels.EventFeedViewModel

<!--doStuff Logo-->
<div class="col-sm-4 col-xs-6 banner-logo-box">
        <a href="@Url.Action("Index", "User")">
            <img class="banner-logo" src="@Url.Content("../Content/pictures/doStufflogoGray.png")" alt="doStuffLogo" />
        </a>
</div>
<!--Logout Section-->
<div class="col-sm-4 col-xs-6 col-sm-push-4">
    @Html.Partial("_LoginPartial")
</div>
<!--Dropdown Menu-->
<div class="col-sm-4 col-xs-12 col-sm-pull-4 banner-dropdown-box">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle feed-chooser" data-toggle="dropdown" aria-expanded="false">
            Event feed <span class="glyphicon glyphicon-chevron-down green" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu banner-dropdown" role="menu">
            <li>
                @using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post, new { @class = "create-button-fields" }))
                {
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="create-group">Create new group</label>
                            <input type="text" class="form-control create-group-field" id="create-group" placeholder="enter the name of your new group...">
                            <button type="submit" class="btn btn-default create-group-button">Create Group</button>
                        </div>
                    </form>
                }
            </li>
            @foreach (var i in Model.Groups)
            {
                <li>@Html.ActionLink(i.Name, "Index", "Group", new { groupId = i.GroupID }, null)</li>
            }
        </ul>
    </div>
</div>

