@model doStuff.ViewModels.EventFeedViewModel

<div class="col-md-4">
    <div class="banner-logo-box">
        <a id="banner-logo" href="@Url.Action("Index", "User")"></a>
    </div>
</div>
<div class="col-md-4">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle feed-chooser" data-toggle="dropdown" aria-expanded="false">
            Event feed <span class="glyphicon glyphicon-chevron-down green" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu banner-dropdown" role="menu">
            @foreach (var i in Model.Groups)
            {
            <li>@Html.ActionLink(i.Name, "Index" , "Group" , new { groupId = i.GroupID }, null)</li>
            }
            <li class="divider"></li>
            <li>@using (Html.BeginForm("CreateGroup", "Group"))
                {
                <span>create group:</span>
                <input type="text" name="content" placeholder="name your new group..." />
                <input type="submit" value="post" class="btn btn-default" />
                }
            </li>
            @*<li>@Html.ActionLink("create group", "CreateGroup", "Group", null, new { @class = "btn btn-default cancel" })</li>*@
        </ul>
    </div>
</div>
<div class="col-md-4">
    @Html.Partial("_LoginPartial")
</div>