@model doStuff.ViewModels.EventFeedViewModel

<div class="container">
    <!--<div class="login-logo">

    </div> -->
    <div>
        <select class="form-control main-menu">
            @foreach (var i in Model.Groups)
            {
                <option value="@i">@i.Name</option>
            }
        </select>
    </div>
    <div>
        @Html.Partial("_LoginPartial")
    </div>
</div>
