@model doStuff.ViewModels.EventFeedViewModel

<div class="col-md-4">
    <div class="banner-logo-box">
        <a id="banner-logo" href="@Url.Action("Index", "User")"></a>
    </div>
</div>
<div class="col-md-4">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle feed-chooser" data-toggle="dropdown" aria-expanded="false">
            Event feed <span class="glyphicon glyphicon-chevron-down green" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu banner-dropdown" role="menu">
            @foreach (var i in Model.Groups)
            {
            <li>@Html.ActionLink(i.Name, "Index" , "Group" , new { groupId = i.GroupID }, null)</li>
            }
            <li class="create-button-fields">
                @using (Html.BeginForm("CreateGroup", "Group"))
                {
                <div class="col-md-3 create-group-label">create group:</div>
                <input type="text" name="name" class="col-md-6 create-group-field" placeholder="name your new group..." />
                <input type="submit" value="create" class=" col-md-2 btn btn-default create-group-button" />
                }
            </li>
        </ul>
    </div>
</div>
<div class="col-md-4">
    @Html.Partial("_LoginPartial")
</div>