 <div class="navbar navbar-inverse navbar-fixed-top">
    @RenderPage("Banner.cshtml")
</div>

<div class="col-md-1 add-event pull-left pull-down">
    <a class="btn btn-default plus-symbol" href="@Url.Action("CreateEvent", "User")"></a>
</div>

<div class="col-md-8 main pull-down">
    @RenderPage("EventFeed.cshtml")
</div>

<div class="col-md-3 side-bar pull-down">
    @RenderPage("SideBar.cshtml")
</div>