@{
    ViewBag.Title = "Home Page";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    @RenderPage("Banner.cshtml")
</div>

<div class="col-md-2 add-event pull-left pull-down">
    @Html.ActionLink("add event", "CreateEvent", null, new { @class = "btn btn-default cancel" })
</div>

<div class="col-md-6 main pull-down" >
    @RenderPage("EventFeed.cshtml")
</div>

<div class="col-md-4 side-bar pull-down">
    @RenderPage("SideBar.cshtml")
</div>