@{
    ViewBag.Title = "Home Page";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    @RenderPage("Banner.cshtml")
</div>

<div class="col-md-8 main" >
    @RenderPage("EventFeed.cshtml")
</div>

<div class="col-md-4 side-bar">
    @RenderPage("SideBar.cshtml")
</div>