@model doStuff.ViewModels.EventFeedViewModel

<div class="pull-right right-sidebar">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <div class="friend-list">
        <ul id="FriendList">
            @foreach (var user in Model.SideBar.UserList)
            {
                <li class="eventfeed-friend">@user.DisplayName
                @using (Html.BeginForm("RemoveFriend", "User"))
                {
                    <input name="friendId" type="hidden" value="@user.UserID">
                    <button type="submit" class="btn btn-primary remove-button">
                        <i class="glyphicon glyphicon-remove right"></i>
                    </button>
                }
                </li>
            }
        </ul>
    </div>
    <div>
        @using (Html.BeginForm("AddFriend", "User", FormMethod.Post, new { id = "AddFriend" }))
        {
            <div class="row add-friend">
                <div class="col-md-12 add-friend-title">add friend</div>
                <div class="form-group">
                    <span class="col-md-12">
                        <input type="text" name="username" placeholder="insert username..." />
                        <input type="submit" id="AddFriendButton" />
                    </span>
                </div>
            </div>
            @Html.ValidationSummary(false)
        }
    </div>
</div>
