@model doStuff.ViewModels.EventFeedViewModel

<div class="pull-right right-sidebar">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <div>
        @Html.ActionLink("add friend", "AddFriend", null, new { @class = "btn btn-default cancel" })
    </div>
    <ul>
        @foreach (var user in Model.SideBar.UserList)
        {
            <li>@user.DisplayName</li>
        }
    </ul>
    <div>
        @Html.ActionLink("create group", "Create Group", null, new { @class = "btn btn-default cancel" })
    </div>
</div>
