@model doStuff.ViewModels.EventFeedViewModel

<div class="pull-right right-sidebar">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <ul>
        @foreach (var user in Model.SideBar.UserList)
        {
            <li>@user.DisplayName</li>
        }
    </ul>
</div>
