::-webkit-scrollbar
{
  width: 12px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.navbar-fixed-top {
    background-color: #26727f;
    border: 0px;
}

.navbar .col-md-4 {
    padding: 0px;
}

.banner-logo {
    max-width: 100%;
    display: block;
}

.banner-logout-logo:hover {
    margin-top: 3px;
}

.banner-logout-logo {
    max-width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-logo-box, .banner-dropdown-box {
    padding: 0px;
}

.navbar .btn-group {
    width: 100%;
}

.feed-chooser {
    background-color: #26727f;
    color: white;
    max-height: 90px;
    width: 100%;
    font-variant: small-caps;
    border-radius: 0px;
}

.banner-title {
    overflow-x: hidden;
}

.green {
    color: #aee239;
    font-size: 30px;
}

.btn-group > .btn:hover, .btn-group > .btn:focus {
    color: white;
    outline: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.banner-dropdown {
    background-color: #26727f;
    color: white;
    max-height: 400px;
    overflow-y: auto;
    font-size: 30px;
    font-variant: small-caps;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: -1px;
}

.banner-dropdown li>a:link {
    color: white;
}

.banner-dropdown li>a:visited {
    color: white;
}

.banner-dropdown li>a:hover {
    color: #26727f;
    background-color: #eee;
}

.banner-dropdown li>a:active {
    color: #26727f;
    background-color: #eee;
}
.create-group-form {
    background-color: #90BC25;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.create-group-field {
    width: 65%;
    display: inline;
    border-radius: 0px;
}

.banner-dropdown .create-group-button {
    background-color: white;
    color: #26727f;
    width: 30%;
    display: inline;
    border-radius: 0px;
}

.banner-dropdown .create-group-button:visited {
    background-color: #aee239;
    color: #26727f;
}

.banner-dropdown .create-group-button:hover {
    color: #26727f;
    background-color: #eee;
}
