.navbar-fixed-top {
    margin-top: 8px;
    background-color: #26727f;
    border: 0px;
}

.navbar .col-md-4 {
    padding: 0px;
}

#banner-logo {
    height: 90px;
    background-image: url("LogoGray.png");
    background-size: contain;
    background-repeat: no-repeat;
    display:block;
    margin: 0px;
    padding: 0px;
}

.navbar .btn-group {
    width: 100%;
}

.feed-chooser {
    background-color: #26727f;
    color: white;
    font-size: 50px;
    font-variant: small-caps;
    border-radius: 0px;
    height: 90px;
    width: 100%;
}

#main-title {
    outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#main-title:link {
    box-shadow: none !important;
}

#main-title:visited {
    box-shadow: none !important;
}

#main-title:hover {
    box-shadow: none !important;
}

#main-title:active {
    box-shadow: none !important;
}

#main-title:focus {
    outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.feed-chooser:link {
    color: white;
}

.feed-chooser:visited {
    color: white;
}

.feed-chooser:hover {
    color: white;
}

.feed-chooser:active {
    color: white;
}

.banner-dropdown {
    background-color: #26727f;
    color: white;
    font-size: 30px;
    font-variant: small-caps;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.banner-dropdown li>a:link {
    color: white;
}

.banner-dropdown li>a:visited {
    color: white;
}

.banner-dropdown li>a:hover {
    color: #26727f;
    background-color: #eee;
}

.banner-dropdown li>a:active {
    color: #26727f;
    background-color: #eee;
}

.banner-dropdown .cancel {
    background-color: #aee239;
    letter-spacing: 3px;
    color: #26727f;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-dropdown .cancel:visited {
    background-color: #aee239;
    color: #26727f;
}

.banner-dropdown .cancel:hover {
    color: #26727f;
    background-color: #eee;
}

.logout-box {
    margin-right: 10px;
}

#logout-logo {
    background-image:url(logOut.png);
    background-repeat: no-repeat;
    background-size:40%;
    background-position: right;
    display:block;
    height:90px;
    width:100%;
}

.user-index {
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
}