.main {
    margin-top: 110px;
}

.event-box {
    background-color:white;
    color: #90BC25;
    border: 1px solid #C8C8C8;
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0px;
}

.event-list-item>span { 
  margin-top: -300px;        /* Size of fixed header */
  padding-bottom: 300px; 
  display: block; 
}

.event-banner {
    background: white;
    width: 100%;
    letter-spacing: 2px;
    display: table;
    min-height: 60px;
}

.event-banner-upper {
    background-color: #90BC25;
    color: white;
    display: table;
    min-height: 30px;
    border-bottom: 1px solid #444;
}

.event-owner {
    display: table-cell;
    text-align: left;
    max-width: 50%;
    padding-top: 5px;
} 

.event-group {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    max-width: 50%;
    padding-top: 5px;
}

.event-banner-lower {
  display: table;
  color: white;
  font-size: 23px;
  font-variant: small-caps;
  min-height: 56px;
}

.event-banner-over {
    background-image: url("pictures/bluebanner.png");
    background-color: #00A8C6;
}

.event-banner-on {
    background-color: green;
}

.event-banner-off {
    background-image: url("pictures/redbanner.png");
    background-color: #6F1E10;
}

.event-banner-full {
    background-color: #6F1E10;
}

.event-banner-countdown {
    background-image: url("pictures/orangebanner.png");
    background-color: #ECEB1A;
    color: #444;
}

.event-name {
    display: table-cell;
    text-align: center;
    max-width: 50%;
    padding-top: 8px;
}

.event-state {
    display: table-cell;
    text-align: center;
    max-width: 50%;
    padding-top: 8px;
}

.event-middle {
    min-height: 0px;
    margin: 0px;
    color: white;
    padding-right: 0px;
}

.event-photo-time-location {
    background-image: url("pictures/stockPhoto01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.event-photo-time-location-drinks {
    background-image: url("pictures/Eventphotos/drinks-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.event-photo-time-location-sports {
    background-image: url("pictures/Eventphotos/basketball-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.event-photo-time-location-concert {
    background-image: url("pictures/Eventphotos/concert-photo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.event-photo-time-location-theater {
    background-image: url("pictures/Eventphotos/theater-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.event-photo-time-location-birthday {
    background-image: url("pictures/Eventphotos/birthday-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.event-photo-time-location-gaming {
    background-image: url("pictures/Eventphotos/gaming-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.event-photo-time-location-beach {
    background-image: url("pictures/Eventphotos/beach-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.event-photo-time-location-school {
    background-image: url("pictures/Eventphotos/school-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.event-photo-space {
    min-height: 150px;
}
.event-photo-space-attendees {
    min-height: 150px;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.65);
    overflow-y: auto;

}

.event-time-place {
    background-color: rgba(0,168,198,0.86);
    padding-top: 6px;
    padding-bottom: 6px; 
}

.event-location {
    text-align: right;
}

.event-description-buttons {
    padding-left: 0px;
}

.event-description {
    color: #26727f;
    min-height: 150px;
    padding: 5px 25px 5px 25px;
    overflow: hidden;
}

.event-join-decline {
    padding-left: 15px;
    padding-right: 15px;
}

.join-event, .decline-event, .event-joined, .event-declined {
    font-size: 26px;
    border-radius: 0px;
    letter-spacing: 3px;
    padding-top: 9px;
    padding-bottom: 10px;
    border: 0px;
}

.join-event {
    background-color: #aee239;
    letter-spacing: 3px;
    color: #26727f;
    min-height: 100%;
    min-width: 60%;
}

.join-event:hover {
    background-color: rgba(174,226,57,0.70);
}

.decline-event {
    background-color: #26727f;
    color: white;
    min-height: 100%;
    min-width: 40%;
}

.decline-event:hover {
    background-color: rgba(38,114,127,0.70);
}

.event-joined, .event-declined {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    min-width: 100%;
}

.event-joined {
    background-color: #aee239;
    letter-spacing: 3px;
    color: #26727f;
}

.event-declined {
    background-color: #26727f;
    color: white;
}

.event-comments {
    min-height: 0px;
}

.comment-title {
    color:#26727f;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px #26727f;
}

.comment-title:hover {
    cursor: pointer;
}

.all-comments {
    display: none;
}

.comments-number {
    font-size: 14px;
    float: right;
    vertical-align: middle;
    padding-right: 5px;
    padding-top: 3px;
}

.comment-plus {
    font-size: 16px;
}

.comment-minus {
    font-size: 16px;
    display: none;
}

.comment {
    background-color: white;
    color: #26727f;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #26727f;
}

.comment input {
    width: 100%;
    padding-left: 7px;
}

.comment-owner {
    overflow: hidden;
}

.comment-content {
    overflow: hidden;
}

.comment-time {
    font-size: 13px;
    text-align: center;
}

.comment-comment {
    padding-top: 4px;
}

.comment-text-field {
    padding-left: 0px;
    padding-right: 4px;
}

.comment-text-field input[type="text"] {
    padding-top: 1px;
    padding-bottom: 1px;
}

.comment-button {
    padding-left: 0px;
    padding-right: 4px;
}

.comment-button input[type="submit"] {
    background-color: white;
    color: #26727f;
    border: 1px solid #26727f;
    font-weight: bold;
    width: 100%;
    border-radius: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.comment-button input[type="submit"]:hover {
    background-color: #eee;
}