.event-box {
    background-color:white;
    color: #90BC25;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0px;
}

.event-list-item {
    margin-bottom: 20px;
}

.event-list-item>span { 
  margin-top: -300px;        /* Size of fixed header */
  padding-bottom: 300px; 
  display: block; 
}

.event-banner {
    background: white;
    width: 100%;
    letter-spacing: 2px;
    min-height: 90px;
}

.event-banner-upper {
    background-color: #90BC25;
    color: white;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    padding-top: 10px;
}

.event-owner {
    display: inline;
    text-align: left;
    vertical-align: middle;
} 

.event-group {
    margin-top: -5px;
    display: inline;
    float: right;
    vertical-align: middle;
}

.event-banner-lower {
  color: white;
  font-size: 23px;
  font-variant: small-caps;
  padding-bottom: 10px;
  padding-top: 10px;
}

.event-banner-over {
    background-image: url("pictures/bluebanner.png");
    background-color: #00A8C6;
}

.event-banner-on {
    background-image: url("pictures/greenbanner.png");
    background-color: #aee239;
    color: #444;
}

.event-banner-off {
    background-image: url("pictures/redbanner.png");
    background-color: #6F1E10;
}

.event-banner-full {
    background-color: #6F1E10;
}

.event-banner-countdown {
    background-image: url("pictures/orangebanner.png");
    background-color: #ECEB1A;
    color: #444;
}

.event-name {
    display: inline;
    text-align: left;
    vertical-align: middle;
}

.event-state {
    display: inline;
    float: right;
    text-align: left;
    vertical-align: middle;
}

.event-middle {
    margin: 0px;
    color: white;
    padding: 0px;
}

.event-photo {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 0px;
}

.event-photo-time-location {
    background-image: url("pictures/stockPhoto01.jpg");
}

.event-photo-time-location-drinks {
    background-image: url("pictures/Eventphotos/drinks-photo.jpg");
}

.event-photo-time-location-sports {
    background-image: url("pictures/Eventphotos/basketball-photo.jpg");
}

.event-photo-time-location-concert {
    background-image: url("pictures/Eventphotos/concert-photo.png");
}

.event-photo-time-location-theater {
    background-image: url("pictures/Eventphotos/theater-photo.jpg");
}

.event-photo-time-location-birthday {
    background-image: url("pictures/Eventphotos/birthday-photo.jpg");
}

.event-photo-time-location-gaming {
    background-image: url("pictures/Eventphotos/gaming-photo.jpg");
}

.event-photo-time-location-beach {
    background-image: url("pictures/Eventphotos/beach-photo.jpg");
}

.event-photo-time-location-school {
    background-image: url("pictures/Eventphotos/school-photo.jpg");
}

.event-attendees {
    color: #444;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(255,255,255,0.70);
    padding: 8px;
    padding-top: 4px;
    text-align: center;
}

.event-time-place {
    background-color: rgba(0,168,198,0.86);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 20px;
    margin-top: 210px;
}

.event-time {
    display: inline;
}

.event-location {
    display: inline;
    float: right;
    text-align: right;
    font-variant: small-caps;
}

.event-description {
    color: #444;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(255,255,255,0.70);
    padding: 8px;
    padding-top: 4px;
    text-align: center;
}

.event-buttons, .event-buttons form, .event-buttons .btn-group {
    padding: 0px;
}

.join-event, .decline-event, .event-joined, .event-declined {
    font-size: 26px;
    border-radius: 0px;
    letter-spacing: 3px;
    border: 0px;
    margin-top: -5px;
}

.join-event {
    background-color: #aee239;
    letter-spacing: 3px;
    color: #444;
    min-height: 100%;
    min-width: 60%;
}

.join-event:hover {
    background-color: rgba(174,226,57,0.70);
}

.decline-event {
    background-color: #26727f;
    color: white;
    min-height: 100%;
    min-width: 40%;
}

.decline-event:hover {
    background-color: rgba(38,114,127,0.70);
}

.event-joined, .event-declined {
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    padding: 6px 12px;
}

.event-joined {
    background-color: #aee239;
    letter-spacing: 3px;
    color: #26727f;
}

.event-declined {
    background-color: #26727f;
    color: white;
}

.event-comments {
    min-height: 0px;
}

.comment-title {
    background: white;
    color:#26727f;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 1px #26727f;
    padding-top: 6px;
}

.comment-title:hover {
    cursor: pointer;
}

.all-comments {
    display: none;
}

.comments-number {
    font-size: 14px;
    float: right;
    vertical-align: middle;
    padding-right: 5px;
    padding-top: 3px;
}

.comment-plus {
    font-size: 16px;
}

.comment-minus {
    font-size: 16px;
    display: none;
}

.comment {
    background-color: white;
    color: #26727f;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #26727f;
}

.comment input {
    width: 100%;
    padding-left: 7px;
}

.comment-owner {
    overflow: hidden;
}

.comment-content {
    overflow: hidden;
}

.comment-time {
    font-size: 13px;
    text-align: center;
}

.comment-comment {
    padding-top: 4px;
}

.comment-text-field {
    padding-left: 0px;
    padding-right: 4px;
}

.comment-text-field input[type="text"] {
    padding-top: 1px;
    padding-bottom: 1px;
}

.comment-button {
    padding-left: 0px;
    padding-right: 4px;
}

.comment-button input[type="submit"] {
    background-color: white;
    color: #26727f;
    border: 1px solid #26727f;
    font-weight: bold;
    width: 100%;
    border-radius: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.comment-button input[type="submit"]:hover {
    background-color: #eee;
}