.login-body {
    background-image: url("balloonBackground.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    letter-spacing: 2px;
}

.login-box {
    background-color: rgba(0,168,198,0.86);
    max-width: 600px;
    border: 1px solid #9fa4a5;
}

.login-title {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

.login-body .control-label {
    color: white;
    font-size: 22px;
    text-align: left;
}

.login-body .form-control {
    background-color: #4ce4ff !important;
}