::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.right-sidebar {
    background-color: #00a8c6;
    color: white;
    border: 1px solid #00a8c6;
    font-size: 18px;
    text-align: center;
    margin-top: 110px;
}

.sidebar-title-box {
    background: white;
    letter-spacing: 2px;
    display:table;
    width:98%;
    min-height: 60px;
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.sidebar-avatar {
    max-height: 75px;
    float: left;
    display: inline;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

.sidebar-title-box h3 {
    color: #26727f;
    display:table-cell; 
    vertical-align:middle;
    text-align: left;
}

.friends-title {
    background-color: #26727f;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.friend-requests-title {
    background-color: #aee239;
    font-variant: small-caps;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.friend-requests-title-top {
    background-color: #aee239;
    font-variant: small-caps;
    font-size: 18px;
    margin-top: -6px;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.friend-list-box {
    background: white;
    color: #26727f;
    font-size: 0.7em;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: visible;
    margin: 5px 5px 5px 5px;
    padding-top: 6px;
}

.sidebar-button {
    background: none;
    border: none;
    float: left;
    display: inline;
    padding: 0px 6px 0px 4px;
}

.sidebar-button:hover, .sidebar-button:active,
.sidebar-button:focus, .sidebar-button:visited {
    background: none;
    outline: none;
}

.x-button {
    color: #333;
    font-size: 17px;
}

.x-button:hover {
    background: none;
    color: red;
}

.v-button {
    color: #333;
    font-size: 17px;
}

.v-button:hover {
    background: none;
    color: green;
}

.friend-display-name {
    text-align: left;
    font-size: 16px;
}

.friend-display-no-friends {
    text-align: center;
    font-size: 17px;
    padding-left: 2px;
    padding-right: 2px;
}

.request-list {
    margin-bottom: 8px;
}

.divider-event {
    height: 1px;
    background-color: #26727f;
    margin: 2px 8px 2px 8px;
}

.add-friend-form {
    background-color: #90BC25;
    margin: 0px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.add-friend-field {
    width: 65%;
    display: inline;
    border-radius: 0px;
    padding-left: 3px;
}

.add-button {
    background-color: white;
    color: #26727f;
    width: 30%;
    display: inline;
    border-radius: 0px;
}

.events-title {
    background-color: #26727f;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.event-list {
    background: white;
    color: #26727f;
    font-size: 0.7em;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: visible;
    margin: 5px 5px 5px 5px;
    padding-top: 6px;
}

.uppcoming-event-name {
    font-size: 19px;
}

.uppcoming-event-location {
    font-size: 18px;
}

.group-sidebar-button {
    color: #333;
    float: right;
    font-size: 17px;
    padding-top: 3px;
}

.group-title {
    padding-left: 8px;
}

.event-list a:hover {
    text-decoration: none;
}