::-webkit-scrollbar
{
  width: 12px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.right-sidebar {
    background-color: #00a8c6;
    color: white;
    border: 1px solid #00a8c6;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    position: fixed;
    width: 20%;
}

.sidebar-title-box {
    background: white;
    letter-spacing: 2px;
    min-height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-avatar {
    max-height: 60px;
    float: left;
    display: inline;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sidebar-title {
    display: inline;
    text-align: left;
    min-height: 60px;
    color: #26727f;
    padding-left: 0px;
}

.friends-title {
    background-color: #26727f;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.friend-requests-title {
    background-color: #aee239;
    font-variant: small-caps;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.friend-list-box {
    background: white;
    color: #26727f;
    font-size: 0.7em;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: visible;
    margin: 5px 5px 5px 5px;
}

.sidebar-button {
    background: none;
    border: none;
    float: left;
    display: inline;
    padding: 0px 6px 0px 4px;
}

.sidebar-button:hover {
    background: none;
}

.x-button {
    color: #333;
}

.x-button:hover {
    background: none;
    color: red;
}

.v-button {
    color: #333;
}

.v-button:hover {
    background: none;
    color: green;
}

.friend-display-name {
    text-align: left;
}

.pull-down {
    margin-top: 100px;
}

.eventfeed-friend form {
    display: inline;
}

.add-member-title {
    padding-top: 15px;
}

.add-member-button {
    padding: 0px;
}

.add-member-button input {
    border-radius: 0px;
    width: 100%;
    color: #26727f;
    border: solid 1px #26727f;
    padding-top: 4px;
    padding-bottom: 4px;
}

.add-friend-field-button {
    margin: 0px;
    padding: 0px;
    border: solid 1px #26727f;
}

.add-friend-field {
    padding: 0px;
}

.add-friend-field input {
    width: 100%;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
}



.add-friend .form-group {
    margin-bottom: 0px;
}

.add-friend-title {
    margin-top: 10px;
    margin-bottom: 5px;
}


.right-sidebar .event-list {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: visible;

}

.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}