html, body {
    margin: 0;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
/*textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.plus-symbol {
    height: 70px;
    width: 70px;
    background-image: url("plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: fixed;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid #C8C8C8;
    float: left;
    font-size:22px;
}