@font-face {
    font-family: OpenSansRegular;
    src: url(OpenSans/OpenSans-Regular.ttf);
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: url(pictures/bodyBackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.plus-symbol {
    background: rgba(174,226,57,0.80);
    height: 90px;
    width: 90px;
    z-index: 10;
    display: block;
    position: fixed;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    border: none;
    border-radius: 50%;
    float: left;
}

.plus-symbol:hover {
    background: rgba(174,226,57,0.97);
}

.create-event {
    color: #26727f;
    text-align: center;
    vertical-align: middle;
    font-size:70px;
    margin-left: 7px;
}

.alert  {
    border-radius: 0;
    text-align: center;
}

#event {
        margin-top: 5%;
    }