@model doStuff.ViewModels.GroupFeedViewModel

<div class="container">
    <!-- <div class="col-md-4 login-logo">

    </div>-->
    <div class="col-md-4">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                @foreach (var i in Model.Groups)
                {
                    <li>@Html.ActionLink(i.Name, "Index", "Group", new { groupId = i.GroupID }, null)</li>
                }
                <li class="divider"></li>
                <li>@Html.ActionLink("create group", "CreateGroup", "Group", null, new { @class = "btn btn-default cancel" })</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_LoginPartial")
    </div>
</div>
