@model doStuff.ViewModels.EventFeedViewModel

<div class="navbar navbar-inverse navbar-fixed-top">
    @RenderPage("Banner.cshtml")
</div>

<div class="col-md-8 main pull-down">
    @RenderPage("~/Views/Shared/Feedback.cshtml")
    @using (Html.BeginForm("AddMember", "Group"))
    {
        <div class="form-group">
            <span class="col-md-10">
                <input type="text" name="name" placeholder="Group name" />
                <button type="submit" class="btn btn-primary remove-button">
                    <i class="glyphicon glyphicon-plus right"></i>
                </button>
            </span>
        </div>
        @Html.ValidationSummary(false)
    }
</div>

<div class="col-md-3 side-bar pull-down">
    @RenderPage("SideBar.cshtml")
</div>