
@model doStuff.ViewModels.GroupFeedViewModel

<div class="pull-right right-sidebar">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <div>
        @Html.ActionLink("add member", "AddMember", new { groupId = Model.groupId }, new { @class = "btn btn-default cancel" })
    </div>
    <ul>
        @foreach (var user in Model.SideBar.UserList)
        {
            <li>@user.DisplayName</li>
        }
    </ul>
</div>
